<div class="my-5 mx-auto w-96">

  <h1 class="text-3xl text-center font-bold text-orange-600 mb-5">Simple Blog</h1>
  <h1 class="text-3xl text-center font-bold">LOGIN</h1>

	<%= form_with model: @new_user, url: logins_path do |form| %>
	
		<div>
			<%= form.label :email, class: "block mt-8 uppercase" %>
			<%= form.email_field :email, class: "border-gray-600 text-sm rounded-lg 
	focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
		</div>
		
		<div>
			<%= form.label :password, class: "block mt-8 uppercase" %>
			<%= form.password_field :password, class: "border-gray-600 text-sm rounded-lg 
	focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
		</div>
		
		<%= form.submit "LOGIN", class: "w-full mt-6 btn-primary mb-8"%>
	<% end %>
	
    <%= link_to "Sign Up here!", new_registration_path, 
        class: "hover:text-blue-400" %>
</div>

