<div class="my-5 mx-auto w-96">
  <h1 class="text-3xl text-center font-bold text-orange-600 mb-5">Simple Blog</h1>
  <h1 class="text-3xl text-center font-bold">SIGN UP</h1>

	<%= form_with model: @user, url: registrations_path do |form| %>
	
		<div>
			<%= form.label :email, class: "block mt-8 uppercase" %>
			<%= form.email_field :email, class: "border-gray-600 text-sm rounded-lg 
	focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
		</div>
		
		<div>
			<%= form.label :password, class: "block mt-8 uppercase" %>
			<%= form.password_field :password, class: "border-gray-600 text-sm rounded-lg 
	focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
			<p class="text-xs text-slate-400">Must be minium 5 characters long</p>
		</div>
		
		<%= form.submit "Sign Me Up!", class: "w-full mt-6 btn-primary mb-8"%>
	<% end %>
	
    <%= link_to sanitize("&larr; Return to Login"), new_login_path, 
        class: "hover:text-blue-400" %>
</div>
