<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-8 px-5 flex flex-col">
	
	  <% if alert %>
		  <div class="px-5 mx-auto">
			  <div class="font-bold mt-8 border-2 border-rose-200 rounded-lg bg-rose-300 text-white p-4"><%= alert %></div>
		  </div>
	  <% end %>
	  
	  <% if notice %>
		  <div class="px-5 mx-auto">
			  <div class="mt-8 border-2 border-lime-200 rounded-lg bg-lime-300 text-gray-600 p-4"><%= notice %></div>
		  </div>
	  <% end %>
	  
      <%= yield %>
	  
    </main>
  </body>
</html>
